<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoxiao.baselibrary">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application>
        <service
            android:name=".ble.BleClientService"
            android:process="com.xiaoxiao.bleService"
            android:enabled="true"
            android:exported="true"/>

        <service android:name=".ble.BleClientService"
            android:process="com.xiaoxiao.bleService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>