<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoxiao.homecenter">

    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO"/>
    <application android:label="@string/app_name">
        <service
            android:name=".services.PeripheralService"
            android:process="com.xiaoxiao.peripheral"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name="com.xiaoxiao.baselibrary.base.BaseService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaoxiao.baselibrary.ble.BleCenterService"
            android:enabled="true"
            android:exported="true" />

        <uses-library android:name="com.google.android.things" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Make this the first activity that is displayed when the device boots. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>