<?xml version="1.0" encoding="utf-8"?>
<config>
    <commands>
        <!--命令码-->
        <code>1</code>
        <!--命令体-->
        <body>
            <!--命令类型-->
            <action>read</action>
            <!--参数-->
            <list>
                <params>1</params>
            </list>
        </body>
    </commands>
</config>